body{
    background-color:#b4b4b4;
}
#header{
    margin:-1% auto;
    width:35%;
}
#logo{
    margin:auto;
    display:block;
}
#title-container{
    margin:3px 0 0 0;
    width:20%;
}
#title{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:bold;
}

@media (min-width:320px){
    #title{
        font-size:16px;
    }
}

@media (min-width: 768px) {
    #title{
        font-size:23px;
    }
}

@media (min-width: 992px) {
    #title{
        font-size: 32px;
    }
}

@media (min-width: 1200px) {
    #title{
        font-size: 42px;
    }
}
.choice{
    margin:2% auto;
}
.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
    cursor:pointer;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.flipping {
    transform: translate(0, 20px) rotateY(90deg);
    -webkit-transform: translate(0, 20px) rotateY(90deg);
}